
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #768;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
  background-image: url("web1.jpg");
  background-repeat:no-repeat;
  background-size:cover;
	
}
#details tr td{padding-right:10px;}
#details td{padding-bottom:20px;}
		
		
section {
  display: -webkit-flex;
  display: flex;
  border-radius:100px;
}
.Error{
color:red;
}

body{
	margin:2%;
	font-size:90%;
	background-image: url("web11.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	
}

ul {
  list-style-type: none;
  margin: 8px;
  padding: 0;
  overflow:hidden;
  background-color: lightyellow;
  border:1px solid #e7e7e7;
  border-bottom: 6px solid 
}
li{
	border: 1px solid #000;
	border-right: 1px solid #bbb;
	
}

li a {
	display: block;
  padding: 10px;
  text-decoration: none;
}


li a:hover {
  background-color: #666;
  color: white;
}
	

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color:lightyellow;
  padding: 70px;
  letter-spacing:0.5px;
  line-height:20px;
}


footer {
 background-color: #768;
  padding: 10px;
  text-align: center;
  color: white;
  background-image: url("web1.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}


@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
#details table{ 
	color:#101357;
	text-align:center;
	width:540px;
	border-collapse:collapse;
	border-spacing:0;
}
#details table th{font-weight: bold;}
#details tr{font-weight: lighter;}
#details table th, td {
	border-width: medium;
	border-color:orange;
  padding: 5px;
  text-align: left;
}

#details table tr:nth-child(even){
	background-color:Thistle;
}
#details table th:nth-child(odd){
	background-color:Plum;
}
#details table th{
	background-color:Violet;
}





.home .page
{display:none;}

.home .page:target{
	display:block;
}



.row:before,
.row:after,
.group:before,
.group:after{content:"";
display:table;
}

.group:after, .row:after{
clear:both;}
.group, .row{zoom:1;}


.col{
	float:left;
	width:100%;
	padding-right:20px;
	box-sizing:border-box;
}
.col-xs-11{width:91.662%;}
.col-xs-10{width:83.332%;}
.col-xs-9{width:75%;}
.col-xs-8{width:66.662%;}
.col-xs-7{width:58.331%;}
.col-xs-6{width:50%;}
.col-xs-5{width:41.662%;}
.col-xs-4{width:33.332%;}
.col-xs-3{width:25%;}
.col-xs-2{width:16.662%;}
.col-xs-1{width:8.332%;}

@media screen and (min-width:768px)
{
.col-sm-11{width:91.662%;}
.col-sm-10{width:83.332%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.662%;}
.col-sm-7{width:58.331%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.662%;}
.col-sm-4{width:33.332%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.662%;}
.col-sm-1{width:8.332%;}
}

@media screen and (min-width:1024px)
{
.col-md-11{width:91.662%;}
.col-md-10{width:83.332%;}
.col-md-9{width:75%;}
.col-md-8{width:66.662%;}
.col-md-7{width:58.331%;}
.col-md-6{width:50%;}
.col-md-5{width:41.662%;}
.col-md-4{width:33.332%;}
.col-md-3{width:25%;}
.col-md-2{width:16.662%;}
.col-md-1{width:8.332%;}
}


@media screen and (min-width:1280px)
{
.col-lg-11{width:91.662%;}
.col-lg-10{width:83.332%;}
.col-lg-9{width:75%;}
.col-lg-8{width:66.662%;}
.col-lg-7{width:58.331%;}
.col-lg-6{width:50%;}
.col-lg-5{width:41.662%;}
.col-lg-4{width:33.332%;}
.col-lg-3{width:25%;}
.col-lg-2{width:16.662%;}
.col-lg-1{width:8.332%;}
}

.stdform div{float:right;}


#draggable { width: 150px; height: 150px; padding: 10px; border-color:blue;}
#droppable { width: 150px; height: 150px; padding: 10px; float: left; margin: 10px; }